@import "grid";
@import "config";

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: $secondaryColor;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  @include tabletUp() {
    color: $primaryTextColor;
  }
}

//NavBar

.navH {
  display: inline;
  margin-right: 0.5rem;
}
#navLg {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-transform: uppercase;

  @include tabletUp() {
    display: inline;
  }
}

#navBgLg {
  background: $primaryColor;
  box-sizing: border-box;
}

#hambBtn {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 8px;
  width: 40px;

  @include tabletUp() {
    display: none;
  }
}

#menuSm {
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}

#menuLg {
  margin: 3.3rem 0 0 0;
}

li {
  color: lighten($primaryTextColor, 20%);
}

li:hover {
  color: $secondaryTextColor;
  @include easeOut();
}

#dropDownMenuSm {
  background: $primaryColor;
}

#logo {
  width: 280px;
  opacity: 0.75;
  @include tabletUp() {
    width: 400px;
  }
}
//Controllers

.hidden {
  display: none;
}

#spacing {
  letter-spacing: -2px;
}



//Contact form

.formField {
  border: 0;
  width:80vw; 
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.3rem;
  @include tabletUp(){
    width: 30vw;
  }
}

.formBox {
  text-align: center;
  // width:80vw; 
  @include tabletUp(){
    width: 30vw;
    text-align: start;
  }
}

form {
  
  font-size: 1.4rem;
  // width:80vw; 
  margin:0 auto;
  text-align:center;
  @include tabletUp(){
    width: 30vw;
  }
}
